.nav{
  background: whitesmoke;
  color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
  padding: 0 1rem;
  height: 50px;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav a{
  color: inherit;

}
.nav li.active{
  background-color: rgb(149, 149, 250);
}
.nav li:hover{
  background-color: rgb(243, 145, 145);

}
